{% include  "header.html" %}
<div>
    <h2>Stock List:</h2>
    <div class = "content">
        <table class="ui celled table">
            <thead>
                <tr><th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Assign to Portfolio</th>
            </tr></thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                <td data-label="Name">{{ stock['name'] }}</td>
                <td data-label="Symbol">{{ stock['symbol'] }}</td>
                <td data-label="Price">{{ stock['price'] }}</td>
                <!-- <td data-label="Assign"><form class="ui small form" action="{{ url_for('put_stock_in_portfolio', stock_id=1, portfolio_id=1) }}" method="post" style="text-align:left">
                        <input type="submit" class="ui fluid green button" value="Submit">
                    </form></td> -->
                <td data-label="Assignlink"><a href="{{ url_for('put_stock_in_portfolio', stock_id=1, portfolio_id=1) }}"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
</div>
{% include  "footer.html" %}